---
import Header from '@/components/Header.astro'
import Hero from '@/components/Hero.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <Header />
  <Hero />
  <div>
    <h1>Content here</h1>
    <h1>Content here</h1>
    <h1>Content here</h1>
    <h1>Content here</h1>
    <h1>Content here</h1>
    <h1>Content here</h1>
    <h1>Content here</h1>
  </div>
</Layout>

<style></style>
