---
import About from '@/components/About.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Hero from '@/components/Hero.astro'
import TopCryptos from '@/components/TopCryptos.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class="wrapper">
    <Header />
    <Hero />
    <About />
    <TopCryptos />
    <Footer />
  </div>
</Layout>

<style>
  .wrapper {
    min-height: 100%;
  }
</style>
