---

---

<section class="about" aria-label="About section"></section>

<style>
  .about {
    min-height: calc(100svh - var(--header-height));
    display: grid;
    grid-template-columns: var(--col-sm);
    grid-template-rows: var(--row);
    align-items: center;
  }
</style>
