---
type Props = {
  variant?: 'primary' | 'secondary'
  size?: 'sm' | 'md'
  classes?: string
  style?: string
  textTransform?: 'uppercase'
}

const {
  variant = 'secondary',
  textTransform = 'lowercase',
  classes,
  size,
  style,
} = Astro.props
---

<button
  style={style}
  class:list={[
    'button',
    classes,
    {
      'button--primary': variant === 'primary',
      'button--secondary': variant === 'secondary',
      'button--sm': size === 'sm',
      'button--md': size === 'md',
      'button--uppercase': textTransform === 'uppercase',
    },
  ]}
>
  <slot />
</button>

<style>
  .button {
    background-color: transparent;
    border: none;
    padding: 0;
    color: currentColor;
    cursor: pointer;
    max-width: min-content;
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .button--primary {
    padding: 0 1em;
    background-color: var(--orange-500);
    color: var(--white);
    border-radius: 7.1428em;
  }

  .button--sm {
    font-size: calc(var(--font-size-14) / 16 * 1rem);
    min-height: 2.2857em;
  }

  .button--md {
    font-size: calc(var(--font-size-14) / 16 * 1rem);
    min-height: 2.2857em;
  }

  .button--uppercase {
    text-transform: uppercase;
  }

  @media (min-width: 48em) {
    .button {
      gap: 10px;
    }

    .button--primary {
      padding: 0 1.5em;
    }

    .button--md {
      font-weight: 700;
    }

    .button--md {
      font-size: calc(var(--font-size-16) / 16 * 1rem);
      min-height: 3em;
    }
  }
</style>
