---
type Props = {
  variant?: 'primary' | 'secondary'
  size?: 'sm' | 'md'
  classes?: string
  style?: string
}

const { variant = 'secondary', classes, size, style } = Astro.props
---

<button
  style={style}
  class:list={[
    'button',
    classes,
    {
      'button--primary': variant === 'primary',
      'button--secondary': variant === 'secondary',
      'button--sm': size === 'sm',
      'button--md': size === 'md',
    },
  ]}
>
  <slot />
</button>

<style>
  .button {
    background-color: transparent;
    border: none;
    padding: 0;
    color: currentColor;
    cursor: pointer;
    max-width: min-content;
    min-width: max-content;
  }

  .button--primary {
    padding: 0 1em;
    background-color: var(--orange-500);
    color: var(--white);
    border-radius: 7.1428em;
  }

  .button--sm {
    font-size: calc(var(--font-size-14) / 16 * 1rem);
    min-height: 2.2857em;
  }

  .button--md {
    font-size: calc(var(--font-size-14) / 16 * 1rem);
    min-height: 2.2857em;
  }

  @media (min-width: 48em) {
    .button--md {
      font-size: calc(var(--font-size-16) / 16 * 1rem);
      min-height: 3em;
    }
  }
</style>
