---
import CryptosMarqueeItem from './CryptosMarqueeItem.astro'

const assets = ['BTC', 'ETH', 'XRP']

const { classes } = Astro.props
---

<div
  class:list={['cryptos-marquee', 'fluid-type', classes]}
  style="--font-size-min: var(--font-size-12); --font-size-max: var(--font-size-14);"
>
  <div class="cryptos-marquee__container">
    <div data-js="cryptos-marquee-item" class="cryptos-marquee__content hidden">
      {assets.map((asset) => <CryptosMarqueeItem id={asset} />)}
    </div>
  </div>
</div>

<style>
  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }

  .cryptos-marquee {
    min-height: 1.5rem;
    box-shadow: var(--box-shadow-sm);
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
  }

  .cryptos-marquee__container {
    width: 200%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: marquee 8s linear infinite;
  }

  .cryptos-marquee__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;

    & > div:not(:last-child) {
      margin-right: 2em;
    }
  }

  .cryptos-marquee__content {
    display: flex;
    align-items: center;
    max-width: 100vw;
    overflow: hidden;
    gap: 2em;
  }

  .cryptos-marquee__content.hidden {
    display: none;
  }
</style>

<script>
  const container = document.querySelectorAll(
    '[data-js="cryptos-marquee-item"]'
  )

  if (container) {
    container.forEach((item) => {
      item.classList.remove('hidden')
      const clone = item.cloneNode(true)

      item.after(clone)
    })
  }
</script>
