---
import logo from '@/assets/logo.svg'
import { Image } from '@astrojs/image/components'
import MainNav from './MainMenu.astro'
---

<header class="header">
  <div class="header__container fluid-p fluid-px">
    <a href="/" class="header__site-logo">
      <Image src={logo} alt="CoinSynch" />
    </a>

    <MainNav />
  </div>

  <div class="header__cryptos">cryptos</div>
</header>

<style>
  .header {
    min-height: var(--header-height-sm);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--white);
  }

  .header__container {
    display: grid;
    grid-template-columns: var(--col-sm);
    grid-template-rows: var(--row);
    align-items: center;
    padding-top: 1em;
    padding-bottom: calc(1rem - 1px);
    border-bottom: 1px solid var(--gray-200);
  }

  .header__site-logo {
    grid-column: 1 / 3;

    & img {
      width: 5.875rem;
      height: 1rem;
    }
  }

  .header__cryptos {
    box-shadow: var(--box-shadow);
  }
</style>
