---
import logo from '@/assets/logo.svg'
import Image from 'astro/components/Image.astro'
import CryptosMarquee from './CryptosMarquee.astro'
import MainNav from './MainMenu.astro'
---

<header class="header">
  <div class="header__container fluid-spacing fluid-px">
    <a href="/" class="header__site-logo">
      <Image src={logo} alt="CoinSynch" />
    </a>

    <CryptosMarquee classes="cryptos-marquee--desktop" />

    <MainNav />
  </div>

  <CryptosMarquee classes="cryptos-marquee--mobile" />
</header>

<style is:global>
  .header {
    min-height: var(--header-height);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--white);
  }

  .header__container {
    display: grid;
    grid-template-columns: var(--col-sm);
    grid-template-rows: var(--row);
    align-items: center;
    padding-top: 1em;
    padding-bottom: calc(1em - 1px);
    border-bottom: 1px solid var(--gray-200);
  }

  .header__site-logo {
    grid-column: 1 / 3;
    width: max-content;

    & img {
      width: 5.875rem;
      height: 1rem;
    }
  }

  .cryptos-marquee--desktop {
    display: none;
  }

  @media (min-width: 48em) {
    .header__container {
      grid-template-columns: var(--col-md);
      padding-top: 0.875em;
      padding-bottom: 0.875em;
    }

    .header__site-logo {
      & img {
        width: 7.75rem;
        height: 1.3125rem;
      }
    }

    .cryptos-marquee--mobile {
      & > div {
        animation-duration: 10s;
      }
    }
  }

  @media (min-width: 90em) {
    .header__container {
      grid-template-columns: var(--col-lg);
      padding-top: 1em;
      padding-bottom: 1em;
      border: none;
    }

    .header__site-logo {
      & img {
        width: 7.75rem;
        height: 1.3125rem;
      }
    }

    .cryptos-marquee--desktop {
      display: initial;
      box-shadow: none;
      grid-column: 6 / 11;
      grid-row: 1 / 2;
    }

    .cryptos-marquee--mobile {
      display: none;
    }
  }
</style>
