---
import arrowIcon from '@/assets/arrow-icon.svg'
import { Image } from '@astrojs/image/components'
import Button from './Button.astro'
import HeroCarousel from './HeroCarousel.astro'
---

<section class="hero" aria-label="Hero section">
  <div
    class="hero__container fluid-spacing fluid-px"
    style="--spacing-min: 1.5rem; --spacing-max: 7rem;"
  >
    <div class="hero__content">
      <div class="hero__content-wrapper">
        <h1
          class="fluid-type fluid-spacing fluid-mb hero__title"
          style="--font-size-min: var(--font-size-20); --font-size-max: var(--font-size-48); --spacing-min: 0.5rem; --spacing-max: 1.5rem;"
        >
          Start buying and selling cryptocurrency today
        </h1>

        <p
          class="fluid-type"
          style="--font-size-min: var(--font-size-14); --font-size-max: var(--font-size-20);"
        >
          CoinSynch is the safest platform for buying, selling, transferring,
          and storing cryptocurrency, and is trusted worldwide. Sign up and get
          started now.
        </p>
      </div>

      <Button
        size="md"
        variant="primary"
        textTransform="uppercase"
        classes="button--sign-up-hero fluid-type"
        style="--font-size-min: var(--font-size-14); --font-size-max: var(--font-size-16);"
      >
        Sign up now

        <Image src={arrowIcon} alt="Arrow" />
      </Button>

      <div
        class="tags fluid-type fluid-spacing fluid-mt"
        style="--font-size-min: var(--font-size-12); --font-size-max: var(--font-size-20); --spacing-min: 1.5rem; --spacing-max: 5rem;"
      >
        <div class="tags__item">Cryptos</div>

        <div class="tags__item">NFTs</div>

        <div class="tags__item">Games</div>
      </div>
    </div>
  </div>

  <HeroCarousel />
</section>

<style is:global>
  .hero {
    min-height: calc(100svh - var(--header-height));
    background-image: url('../assets/wave.svg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 105%;
    background-size: auto 180px;
    display: grid;
    grid-template-columns: var(--col-sm);
    grid-template-rows: var(--row);
    align-items: center;
  }

  .hero__container {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .hero__content,
  .hero__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__content {
    gap: 1.5em;
  }

  .hero__content-wrapper {
    text-align: center;

    & p {
      max-width: 22.8571em;
    }
  }

  .hero__title {
    max-width: 12.2916em;
    color: var(--orange-500);
    line-height: var(--line-height-32);
  }

  .button--sign-up-hero {
    min-width: 12.8571em;
  }

  .tags {
    display: flex;
    gap: 1em;
  }

  .tags__item {
    padding: 0 1.333em;
    color: var(--orange-500);
    background-color: var(--orange-100);
    border-radius: 0.3333em;
    min-height: 1.8333em;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow-sm);
  }

  @media (min-width: 48em) {
    .hero {
      --header-height: 85px;

      background-size: auto 314px;
      background-position-x: 25%;
      background-position-y: 115%;
      grid-template-columns: var(--col-md);
    }

    .hero__content-wrapper {
      text-align: start;
    }

    .hero__content,
    .hero__content-wrapper {
      align-items: flex-start;
    }

    .button--sign-up-hero {
      min-width: 14.5em;
      min-height: 2.2857em;
      line-height: var(--line-height-40);
    }

    .tags {
      gap: 1.5em;
    }
  }

  @media (min-width: 90em) {
    .hero {
      --header-height: 64px;

      grid-template-columns: var(--col-lg);
    }

    .button--sign-up-hero {
      min-width: 17.375em;
      min-height: 3em;
      line-height: var(--line-height-56);
    }

    .hero__content {
      gap: 2em;
    }

    .hero__content-wrapper {
      & p {
        max-width: 29.5em;
      }
    }

    .tags {
      gap: 2em;
    }

    .tags__item {
      padding: 0 0.8em;
      border-radius: 0.2em;
      min-height: 2em;
    }
  }
</style>
