---

---

<section class="hero" aria-label="Hero section">
  <h1
    class="fluid-type hero__title"
    style="--font-size-min: var(--font-size-20); --font-size-max: var(--font-size-48);"
  >
    Start buying and selling cryptocurrency today
  </h1>
</section>

<style>
  .hero {
    min-height: calc(100svh - var(--header-height-sm));
  }

  .hero__title {
    max-width: 12.2916em;
    color: var(--orange-500);
  }
</style>
