---
import menuIcon from '@/assets/menu-icon.svg'
import closeIcon from '@/assets/close-icon.svg'
import { Image } from '@astrojs/image/components'
import NavMenu from './NavMenu.astro'
---

<div class="main-menu">
  <nav class="main-menu__wrapper">
    <button data-js="modal-hamburger" class="main-menu__menu-hamburger">
      <Image src={menuIcon} alt="Menu hamburger" />
    </button>

    <NavMenu classes="nav--visible" as="div" />
  </nav>

  <div data-js="modal" class="modal">
    <div class="modal__container">
      <div class="modal__content">
        <button data-js="close-modal" class="modal__close">
          <Image src={closeIcon} alt="Close" />
        </button>

        <NavMenu as="nav" />
      </div>
    </div>
  </div>
</div>

<style is:global>
  .main-menu {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-self: end;
  }

  .main-menu__wrapper {
    display: flex;
  }

  .main-menu__menu-hamburger,
  .modal__close {
    background-color: transparent;
    padding: 0;
    border: none;
    width: max-content;
    cursor: pointer;
  }

  .modal {
    width: 100%;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0.25s ease-in,
      opacity 0.25s ease-in;
    z-index: 15;
  }

  .modal__container {
    overflow-y: auto;
    height: 100%;
    width: calc(100% + 17px);
  }

  @media (hover: none) {
    .modal__container {
      padding-right: 17px;
    }
  }

  .modal.active {
    visibility: visible;
    opacity: 1;
  }

  .modal__content {
    padding: 1.25em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  .nav--visible {
    display: none;
  }

  @media (min-width: 48em) {
    .main-menu {
      grid-column: 3 / 9;
      width: 100%;
    }

    .main-menu__wrapper {
      width: 100%;
    }

    .modal.active {
      visibility: hidden;
      opacity: 0;
    }

    .main-menu__menu-hamburger {
      display: none;
    }

    .nav--visible {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      & ul {
        flex-direction: row;
      }
    }
  }

  @media (min-width: 90em) {
    .main-menu {
      grid-column: 3 / 13;
    }
  }
</style>

<script>
  const modalHamburger = document.querySelector('[data-js="modal-hamburger"')
  const closeModal = document.querySelector('[data-js="close-modal"]')
  const modal = document.querySelector('[data-js="modal"]')

  const close = (rect: DOMRect) => {
    modal?.classList.remove('active')
    document.body.classList.remove('no-scroll')
    document.body.style.removeProperty('top')
    document.documentElement.scrollTop = Math.abs(rect.top)
  }

  const open = () => {
    modal?.classList.add('active')

    const rect = document.body.getBoundingClientRect()
    document.body.classList.add('no-scroll')
    document.body.style.top = `${rect.top}px`

    closeModal?.addEventListener('click', () => close(rect))
  }

  modalHamburger?.addEventListener('click', open)
</script>
