---
import { AuthDialog } from '@/components/AuthDialog'
import type { HTMLTag, Polymorphic } from 'astro/types'
import Button from './Button.astro'

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag; classes?: string }>

const { as: Tag, classes, ...props } = Astro.props
---

<Tag
  {...props}
  class:list={['nav', 'normal-type', classes]}
  style="--font-size: var(--font-size-14)"
  aria-label="Main navigation"
>
  <ul class="list">
    <li data-js="close-modal" class="list__item">
      <a href="#about-us">About us</a>
    </li>
    <li data-js="close-modal" class="list__item">
      <a href="#top-cryptos">Top cryptos</a>
    </li>
  </ul>

  <ul class="list">
    <AuthDialog defaultMode="sign-in" client:only="react">
      <li slot="trigger" data-js="close-modal" class="list__item">
        <Button>Sign in</Button>
      </li>
    </AuthDialog>

    <li class="list__item">
      <Button classes="button--sign-up" size="sm" variant="primary">
        Sign up
      </Button>
    </li>
  </ul>
</Tag>

<style is:global>
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }

  .list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;

    & .list__item {
      list-style: none;
      line-height: var(--line-height-14);
      white-space: nowrap;

      & a {
        text-decoration: none;
        transition: color 0.2s ease;
      }

      & a:hover {
        color: var(--gray-400);
      }
    }
  }

  .button--sign-up {
    min-width: 7.1428em;
  }
</style>
